body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

#app {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

#app > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.homestyle {
  background-color: rgb(61, 61, 61);
  background-image: url("./gifs/pouringMartini.gif"), url(".images/");
  background-size: cover;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 4px;
  padding: 3px;
}

form div {
  margin: 1em;
  display: inline-block;
}

#all-products {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 100%;
}

#all-products-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 100%;
}

#filtering {
  margin-left: 1em;
  padding-right: 100px;
  width: 200px;
  flex-shrink: 0;
}

.selected-filter {
  font-weight: bold;
}

#products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

#search {
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 25px;
}

#single-product {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  padding: 50px;
}
.img {
  height: 300px;
  width: 300px;
  object-fit: scale-down;
  align-items: center;
  justify-content: center;
}

#cartIcon {
  height: 30px;
  width: 50px;
}

#cart {
  display: flex;
  flex-direction: row;
}

.ButtonDeleteUser .ButtonUpdateProduct {
  border-radius: 5px;
  width: 15%;
  height: 50%;
}
.UpdateProductForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ProductFormInput {
  margin-bottom: 15px;
}
.single-product-div {
  margin: 0 auto;
  width: 50%;
  background-color: rgba(127, 245, 245, 0.338);
  border: 2px solid black;
  border-radius: 4px;
  padding: 3px;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}

.adminHeader {
  color: azure;
  display: flexbox;
  text-align: center;
  font-size: 30px;
  height: 100%;
  width: 100%;
}

.adminBackground {
  background-color: rgb(61, 61, 61);
  padding: 1em;
}
.adminblock {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 500px;
  text-align: center;
  justify-content: space-between;
  background-image: url("./gifs/shoutPour.gif");
  background-size: cover;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 4px;
  padding: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.025), 0 5px 2px rgba(0, 0, 0, 0.025),
    0 15px 15px rgba(0, 0, 0, 0.035), 0 30px 30px rgba(0, 0, 0, 0.045),
    0 45px 45px rgba(0, 0, 0, 0.055);
  opacity: 0.95;
  margin-bottom: 1em;
  margin-top: 1em;
}

.productHeader {
  display: flexbox;
  text-align: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}
.soldOut {
  opacity: 0.5;
}
#submitForm {
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  margin: 50px;
  height: 500px;
  width: 250px;
  border-radius: 4px;
  transition: box-shadow 0.2s;
}

.product:hover {
  box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.2);
}

nav {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#hello-user {
  font-size: 15px;
}

#navbar {
  background-image: url("https://static.wixstatic.com/media/84465c_8a62d497e52f417ebfe985eefda9778c~mv2.jpg/v1/fill/w_740,h_493,al_c,q_90/84465c_8a62d497e52f417ebfe985eefda9778c~mv2.webp");
  background-size: cover;
  top: 0%;
  left: 0;
  position: sticky;
  z-index: 1;
}

#shopping-cart {
  font-size: 35px;
}

#nav-user-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.title {
  font-size: 30px;
  text-decoration: none;
  color: rgb(255, 94, 94);
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
}

.product-links {
  color: rgba(0, 0, 0, 0.7);
  align-items: center;
}

#pagination-buttons {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  margin: 25px;
}

#pagination-buttons > button {
  border: 0;
  height: 30px;
  margin: 3px;
  cursor: url(https://cur.cursors-4u.net/nature/nat-9/nat803.cur), auto !important;
  transition: box-shadow 0.2s;
}

#pagination-buttons > button:hover {
  box-shadow: 1px 1px 10px 0px gray;
}

.current-page {
  background-color: red;
}

#no-vodka-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#weirdge {
  height: 200px;
  width: 200px;
}

.nav-button {
  font-size: 30px;
  text-decoration: none;
  color: rgb(255, 94, 94);
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
  align-items: center;
  transition: box-shadow 0.2s;
  border-radius: 4px;
}

.nav-button:hover {
  box-shadow: 1px 1px 20px 0px gray;
}

#container {
  width: 50px;
  height: 50px;
  position: relative;
}

#shopping-cart,
#cart-count {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#cart-count {
  font-weight: bold;
  top: 20%;
  left: 30%;
  font-size: 20px;
  color: white;
  z-index: 10;
}

#footer {
  height: 100px;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(49, 47, 47);
  color: white;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
  width: 100%;
}

.footer-link-img {
  width: 30px;
  height: 30px;
  margin: 10px;
  transition: box-shadow 0.2s;
}

.footer-link-img:hover {
  box-shadow: 1px 1px 20px 10px rgba(255, 255, 255, 0.8);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.login-form input {
  height: 40px;
  min-width: 400px;
  max-width: 400px;
  border: 1px solid lightgray;
  flex-grow: 1;
}
.login-form button {
  height: 40px;
  min-width: 400px;
  max-width: 400px;
  background-color: rgb(209, 36, 36);
  border: none;
  color: white;
  margin: 20px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  min-width: 500px;
  box-shadow: 0 4px 2px -2px gray;
}
.login-container {
  display: flex;
  flex-direction: row;
}

.login-background {
  background-image: url("./images/login-background.jpeg");
  width: 60%;
  height: 100vh;
  background-size: cover;
}

.signup-background {
  background-image: url("./images/login-background.jpeg");
  width: 60%;
  height: 100vh;
  background-size: cover;
}

hr {
  margin: 0;
}

.error {
  color: rgb(209, 36, 36);
}

#single-user {
  height: 100vh;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.user-info-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info-element > h3 {
  margin: 0;
}

.order-tile {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 500px;
  border: 1px solid black;
  padding-bottom: 20px;
  box-shadow: 3px 3px 10px rgb(61, 61, 61);
}

.order-details-header {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  border-radius: 20px 20px 0 0;
  height: 50px;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}

.order-details-element {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

.order-details-element p {
  margin: 0;
}

.order-content > img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.order-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  padding-left: 20px;
}

.order-content button {
  background-color: rgb(107, 196, 85);
  height: 40px;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  /*cart */
}

th,
td {
  width: 20vw;
  text-align: center;
  border-bottom: 2px solid rgb(151, 148, 148);
}
#cartTable {
  width: 50vw;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px;
  margin-bottom: 75px;
}

caption {
  font-size: 24pt;
  margin: 50px;
  border-bottom: 2px solid rgb(151, 148, 148);
}

#home-background {
  background-image: url("./gifs/swirlingRicky.gif");
  width: 60%;
  height: 100vh;
  background-size: cover;
}
#home-text-container {
  display: flex;
  width: 40%;
  flex-direction: column;
}

#home-container {
  display: flex;
  flex-direction: row;
}
